<div class="button-group">
<ul class="menu"> 
  <li style="list-style-type: none;"><img  src="../../../assets/logo.png"/></li>
    <a ><input type="button" class="centered-inputnk" value="Accueil" routerLink="/accueil"></a>
    <a ><input type="button" class="centered-inputnk" value="Activités" routerLink="/listeactivite"></a>
    <a ><input type="button" class="centered-inputnk" value="Contact" routerLink="/contact"></a>
    <a ><input type="button" class="centered-inputnk" value="Se connecter" routerLink="/login"></a>
    <a ><input type="button" class="centered-inputnk" value="About us" routerLink="/aboutus"></a>
  </ul>
  <div class="separation"></div>
</div>