<app-menu></app-menu>
<div class="wrapper">
    <div class="container left-container">
      <img src="assets\dhia.jpg" alt="About Us Image" class="about-image">
      <div class="content">
        <h1>Albouchi DhiaEddine</h1>
        <p>
          <a href="https://www.facebook.com/dhia.albouchi.9"><i class="fa-brands fa-square-facebook" style="color: #ff0000; width: 20px;height: 20px;"></i></a> <br>
          <a href="https://www.instagram.com/dhia_albouchi/"><i class="fa-brands fa-instagram" style="color: #ff0000;"></i></a><br>
        </p>
      </div>
    </div>
    <div class="container right-container">
        <img src="assets\ahmed.jpg" alt="About Us Image" class="about-image">
    <div class="content">
      <h1>Hammami Ahmed</h1>
      <p>
        <a href="https://www.facebook.com/ahmed.hammami.54966834"><i class="fa-brands fa-square-facebook" style="color: #ff0000;"></i></a><br>
        <a href="https://www.instagram.com/iam_van_basten/"><i class="fa-brands fa-instagram" style="color: #ff0000;"></i></a><br>


      </p>
    </div>
  </div>
  