
<app-menu></app-menu>
<div class="banner">
<img src="../../../assets/WhatsApp Image 2023-11-03 at 22.59.29.jpeg" alt="">
</div>
    <div class="dis">
        <p>Bienvenue chez les Aventuriers de l'Aventure !</p>
        <p>Les Aventuriers de l'Aventure vous invitent à découvrir la beauté naturelle de la Tunisie.</p>
        <p>Avec notre passion pour l'aventure, nous organisons des campements écologiques, des randonnées, et des activités en plein air.</p>
        <p>Rejoignez notre club pour explorer des lieux cachés, préserver l'environnement, et créer des souvenirs inoubliables.</p>
        <p>Prêt à vivre l'aventure ?</p>
    </div>
       
