.search-bar {
  font-family: Oswald, sans-serif;
  margin-top: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.search-input {
  padding: 8px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: Oswald, sans-serif;
}

.search-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #F2385A;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: Oswald, sans-serif;
}

.search-button:hover {
  background-color: #892134;
}
