<h1 style="font-family: Oswald, sans-serif;">Ajouter une activité :</h1>
<div class="search-bar">
    <form [formGroup]="activiteForm" (ngSubmit)="onSubmitForm()">
        <label for="nom">Nom Activité:</label>
        <input type="text" id="nom" formControlName="nom" class="search-input"><br>

        <label for="image">Image:</label>
        <input type="text" id="image" formControlName="image" class="search-input"><br>

        <label for="prix">Prix:</label>
        <input type="text" id="prix" formControlName="prix" class="search-input"><br>

        <label for="date">Date d'Activité:</label>
        <input type="text" id="date" formControlName="date" class="search-input" placeholder="MM-DD-YYYY"><br>

        <label for="lieu">Lieu:</label>
        <input type="text" id="lieu" formControlName="lieu" class="search-input">

        <input type="submit" class="search-button" value="Ajouter">
    </form>
</div>
