<h1 style="font-family:Oswald ,sans-serif;">Modifier une activité :</h1>
<div class="search-bar">
    Id Activité: <input type="text" name="nom" class="search-input" >
    Nom Activité: <input type="text" name="nom" class="search-input" >
    Lieu : <input type="text" name="lieu" class="search-input">
    Prix : <input  type="text" name="prix" class="search-input">
    <span style="font-size: small;color: red;">** s'il vous plait ecrivez la date sous la forme suivante ! **</span>
    Date d'Activité: <input type="text" name="date" class="search-input" placeholder="MM-DD-YYYY">
    <button  class="search-button">Modifier</button>
</div>
