@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

form {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

div {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  margin-bottom: 5px;
  font-family: Oswald, sans-serif;
  width: 250px; 
}

input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 250px;
  font-family: Oswald, sans-serif;
  margin-top: 5px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: Oswald, sans-serif;
}

button:hover {
  background-color: rgb(114,21,21);
  font-family: Oswald, sans-serif;
}

.card{
  width:400px;
  align-items: center;
  margin-top: 50px;
  margin-left: 37%;
}