<div class="admin">
    <h2 style="background-color: red;color: white;">Espace d'administration</h2>
    <form [formGroup]="adminForm" id="admin-form">
      <div class="groupe">
        <p class="input_wrapper">
          <input type="text" formControlName="username" class="form-control">
          <label for="username"><i class="fas fa-user"></i></label>
        </p>
      </div>
  
      <div class="groupe">
        <p class="input_wrapper">
          <input type="password" formControlName="pass" class="form-control">
          <label for="password"><i class="fas fa-lock"></i></label>
        </p>
      </div>
  
      <div class="button-group">
        <input type="button" value="Se connecter" (click)="onAuthentifie()">
        <input type="button" value="Retourner à l'Accueil" (click)="onRetourne()">
      </div>
    </form>
  </div>
  