<div class="center-container">
    <div class="search-container">
      
      <input [(ngModel)]="searchProjectName" placeholder="Search by project name" class="search-input">
      <button class="search-button" (click)="searchActivite()">Search</button>
      
    </div>
    <table class="event-table">
      <tr *ngFor="let activite of lesActivites" class="event-row">
        <td class="event-cell">
          <h3 class="event-title">{{ activite.nom }}</h3>
          <p>Id: {{ activite.id}}</p>
          <p class="event-date">{{ activite.date | date }}</p>
        
          <p>Prix: {{ activite.prix}}</p>
          <input type="button" value="Supprimer" class="delete-button" (click)="onDeleteActivite(activite)">
          <input type="button" value="Liste Membres" class="sectionheader" (click)="voirMembre()">
          <div *ngFor="let membres of Membres">
            Nom : {{membres.nom}} -- Prénom : {{membres.prenom}} -- Adresse : {{membres.adresse}}
          </div>
        </td>
      </tr>
      
    </table>
  </div>
